@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap');
.listcontainer {
    flex-basis: 50%;
    margin-right: 100px;
}

.buttoncontainer {
    text-align: right;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table td {
    max-width: 100px; /* 원하는 최대 너비 설정 */
}