@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap');
.listcontainer {
    flex-basis: 50%;
    margin-right: 100px;
}

.buttoncontainer {
    text-align: right;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table td{
    max-width: 100px; 
}


.ant-table {
    font-family: 'Gowun Dodum', sans-serif;
}

.ant-table-thead > tr > th {
    font-family: 'Gowun Dodum', sans-serif;
}

.ant-table-tbody > tr > td {
    font-family: 'Gowun Dodum', sans-serif;
}

.ant-table-tbody > tr:hover > td {
    font-family: 'Gowun Dodum', sans-serif;
    color: blueviolet;
}
