@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap');
.listcontainer {
    flex-basis: 50%;
    margin-right: 100px;
}

.buttoncontainer {
    text-align: right;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table td {
    max-width: 100px; /* 원하는 최대 너비 설정 */
}

.listbody {
    display: block;
    max-height: 400px;
    overflow-y: scroll;
}

/* 스크롤바 전체 */
.listbody::-webkit-scrollbar {
    width: 12px; /* 스크롤바의 너비 */
    height: 12px; /* 가로 스크롤바의 높이 (필요한 경우) */
}

/* 스크롤바의 트랙(배경) */
.listbody::-webkit-scrollbar-track {
    background: #f1f1f1; /* 트랙의 배경 색상 */
    border-radius: 10px; /* 트랙의 둥근 모서리 */
}

/* 스크롤바의 핸들 */
.listbody::-webkit-scrollbar-thumb {
    background: #888; /* 핸들의 배경 색상 */
    border-radius: 10px; /* 핸들의 둥근 모서리 */
}

/* 핸들을 호버할 때의 스타일 */
.listbody::-webkit-scrollbar-thumb:hover {
    background: #555; /* 핸들에 마우스를 올렸을 때의 색상 */
}